# **Class 5 - 04/11/2022**

# **Python Functions**

**Creating a Function**

Example

In [1]:
def my_function(): # In Python, function is defined using the def keyword
  print("Hello from my function")

**Calling a Function**

Example

In [2]:
def my_function():
  print("Hello from my function")

my_function() # to call a function, use function name followed by parenthesis

Hello from my function

**Arguments**

Example

In [4]:
def my_function(fname):
  print(fname + "Refsnes")

my_function("Emil ")
my_function("Tobias ")
my_function("Linus ")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

**Number of Arguments**

Example

In [5]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil") # displays an error, requires two arguments fname and lname but has only one argument fname

TypeError: ignored

**Arbitrary Arguments**

Example

In [6]:
def my_function(*kids): # If the number of arguments is unknown add a * before the parameter name
  print("Youngest Child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

Youngest Child is Linus

**Keyword Arguments**

Example

In [7]:
def my_function(child1, child2, child3):
  print(" Youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus") # arguments with key = value

 Youngest child is Linus

**Arbitrary Keyword Arguments, kwargs**

Example

In [9]:
def my_function(**kids): # if the number of keywords in unknown add a ** before the arguments
  print("His last name is " + kids["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

**Default Parameter Value**

Example

In [10]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("Brazil")
my_function()
my_function("India")

I am from Sweden
I am from Brazil
I am from Norway
I am from India

**Passing a List as an Argument**

Example

In [11]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
my_function(fruits) # if u send list as a function, it will still be a list when it reaches the function

apple
banana
cherry

**Return Values**

Example

In [12]:
def my_function(x):
  return(5 * x)

print(my_function(3))
print(my_function(7))
print(my_function(9))

15
35
45

**Pass Statement**

Example

In [13]:
def my_function():
  pass