# **Class 5 - Homework**

# **Python Arrays**

**Arrays**

Example

In [2]:
cars = ["Ford", "Volvo", "BMW"] # creating an array
print(cars)

['Ford', 'Volvo', 'BMW']

**Accessing the Elements of an Array**

Example

In [4]:
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]   # Get the value of the first array element
print(x)

Ford

**Modify the value of the first array element**

Example

In [5]:
cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"    # modify the value of the first array element
print(cars)

['Toyota', 'Volvo', 'BMW']

**Length of Arrays**

Example

In [6]:
cars = ["Ford", "Volvo", "BMW"]
x = len(cars) 
print(x) # print the number of items in the cars array

3

**Looping Array Elements**

Example

In [7]:
for x in cars:
  print(x) # print each item in the cars array

Ford
Volvo
BMW

**Adding Array Elements**

Example

In [8]:
cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda") # add one more element to the cars array
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

**Removing Elements**

Example 1

In [9]:
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1) # delete second element of the cars array
print(cars)

['Ford', 'BMW']

Example 2

In [10]:
cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo") # delete the element that has the value Volvo
print(cars)

['Ford', 'BMW']