# **Class 5 - 04/11/2022**

# **Python For Loops**

Example

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) # print each fruit in the fruit list

apple
banana
cherry

**Looping Through the String**

Example

In [2]:
for x in "banana":
  print(x) # Loop through the letters in the word banana

b
a
n
a
n
a

**The Break Statement**

Example 1

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break # exit the loop when x is "banana"

apple
banana

Example 2

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break # exit the loop when it is banana and this time the break comes before print
  print(x)

apple

**The Continue Statement**

Example

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue # Do not print banana
  print(x)

apple
cherry

**The Range() Function**

Example 1

In [7]:
for x in range(6):
  print(x) # range() function prints values from 1 to 5

0
1
2
3
4
5

Example 2

In [8]:
for x in range(2,6): # using the start parameter 
  print(x)

2
3
4
5

Example 3

In [10]:
for x in range(2,30,3): # default is 1, increment the sequence with 3
  print(x)

2
5
8
11
14
17
20
23
26
29

**Else in For Loop**

Example

In [11]:
# print all numbers from 0 to 5 and finally print a message when the loop is ended
for x in range(6):
  print(x)
else:
  print("Finally Finished")

0
1
2
3
4
5
Finally Finished

**Nested Loops**

Example

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x,y) # print each adjective for each fruit

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**The Pass Statement**

Example

In [14]:
for x in [0,1,2]:
  pass # avoids error