# **Class 3 - 29/10/2022**

# **Python Sets**

**Set**

Example

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset) # prints the items in the set

{'banana', 'cherry', 'apple'}

**Access Item - for loop**

Example

In [3]:
thisset = {"apple", "banana", "cherry"}
for x in thisset: # loop through the set
  print(x)  # prints the items in the set

banana
cherry
apple

**Check if banana is in the set**

Example

In [4]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

**Add Items**

Example

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange") # adds an item into the set
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

**Update Items**

Example

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"]) # adds multiple items to the set
print(thisset)

{'orange', 'mango', 'cherry', 'grapes', 'banana', 'apple'}

**Length of a Set**

Example

In [7]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset)) # prints the number of items in the set

3

**Remove Items**

Example 1

In [8]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")  # removes the item banana from the set
print(thisset)

{'cherry', 'apple'}

Example 2

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("orange")  # displays error as orange is not in the set
print(thisset)

KeyError: ignored

Example 3

In [10]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana") # removes banana from the set
print(thisset)

{'cherry', 'apple'}

Example 4

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("orange")  # discard method does not display error even if the item is not in the set
print(thisset)

{'banana', 'cherry', 'apple'}

Example

In [12]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop() # not know which item will be removed
print(x)
print(thisset) # prints the items in the set

banana
{'cherry', 'apple'}

Example

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.clear() # empties the set
print(thisset)

set()

Example

In [15]:
thisset = {"apple", "banana", "cherry"}
del thisset  # deletes the items
print(thisset)

NameError: ignored

**Join two sets**

Example

In [16]:
set1 = {"a", "b", "c", "d", "e"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3) # returns new set with all items from both sets

{1, 2, 3, 'd', 'a', 'b', 'e', 'c'}

Example

In [17]:
set1 = {"a", "b", "c", "d", "e"}
set2 = {1,2,3}
set1.update(set2) # inserts items in set2 into set1
print(set1)

{1, 2, 3, 'c', 'a', 'd', 'b', 'e'}

**Set Constructor**

Example

In [18]:
thisset = set(("apple", "banana", "cherry")) # use double round brackets
print(thisset)

{'banana', 'cherry', 'apple'}