# **Class 3 - 29/10/2022**

# **Tuple**

**Creating a Tuple**

Example

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple) # creating a tuple

('apple', 'banana', 'cherry')

**Access Tuple Items**

Example

In [1]:
thistuple = ("apple","banana","cherry")
print(thistuple[1]) # print the second item in the tuple

banana

**Negative Indexing**

Example

In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1]) # prints the last item of the tuple

cherry

**Range of Indexes**

**Example**

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) # prints third, fourth and fifth elements

('cherry', 'orange', 'kiwi')

**Range of Negative Indexes**

Example

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1]) # prints the elements between the indexes -4 and -1

('orange', 'kiwi', 'melon')

**Change to Tuple values**

Example

In [7]:
x = ("apple", "banana", "cherry")
y = list(x) # tuple is converted into a list
y[1] = "kiwi" # the element to be inserted
x = tuple(y) # list is converted into tuple

print(x) # prints the converted elements in the tuple

('apple', 'kiwi', 'cherry')

**Loop through a Tuple**

Example

In [8]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple: # Iterate the items
  print(x) # print the items in the tuple

apple
banana
cherry

**Check if Item Exists**

Example

In [9]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, Apple is a fruit in this tuple")

Yes, Apple is a fruit in this tuple

**Tuple Length**

Example

In [10]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) # prints the number of items in the tuple

3

**Add Items**

Example

In [11]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "orange"
print(thistuple) # displays error as items cannot be added or inserted into a tuple

TypeError: ignored

**Create tuple with one item**

Example

In [13]:
thistuple = ("apple",) # use comma in case only one item is present in a tuple
print(type(thistuple)) # prints the type of the tuple

<class 'tuple'>

Example

In [15]:
thistuple = ("apple")
print(type(thistuple)) # not a tuple since comma not added

<class 'str'>

**Remove Items**

Example

In [16]:
thistuple = ("apple", "banana", "cherry")
del thistuple # deletes the tuple items
print(thistuple) # displays error because the tuple no longer exists

NameError: ignored

**Join two tuples**

Example

In [17]:
thistuple1 = ("a", "b", "c", "d", "e")
thistuple2 = (1,2,3)
thistuple = thistuple1 + thistuple2 # joins two tuples using + operator
print(thistuple)

('a', 'b', 'c', 'd', 'e', 1, 2, 3)

**Tuple Constructor**

Example

In [20]:
thistuple = (("apple", "banana", "cherry")) # use double round brackets
print(thistuple)

('apple', 'banana', 'cherry')