# **Python Programming**

 **Class 1 - 25/10/2022**

# **Python Variables - Creating Variables**

**Example 1**

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

**Example 2**

In [ ]:
x=5 # x is of type int
x ="Sally" # x is now of type string
print(x)

Sally

**Example 3**

In [ ]:
x = "John"
#is same as
x = 'John'
print(x)

John

# **Variable Names**

**Example**

In [ ]:
# Legal Variables
myvar = "John"
my_var = "John"
MyVar = "John"
myVar = "John"
myvar2 = "John"
_my_var = "John"
MYVAR = "John"

# **Assign Value to Multiple Variables**

**Example 1**

In [ ]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**Example 2**

In [ ]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# **Output Variables**

**Example 1**

In [ ]:
x = "awesome"
print("Python is" + x)

Python isawesome

**Example 2**

In [ ]:
x = "Python is "
y = "awesome"
z = x+y
print(z)

Python is awesome

**Example 3**

In [ ]:
x=5
y=10
print(x+y)

15

**Example 4**

In [ ]:
x = 5
y = "John"
print(x+y) # displays error

TypeError: ignored