# **Class 1 - 25/10/2022**

**Getting the Data Type**

**Example**

In [ ]:
x = 5
print(type(x))

<class 'int'>

**Python Numbers**

In [ ]:
x = 5 # int
y = 2.5 # float
z = 1j # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int Example**

In [ ]:
x = 1
y = 24567899000345
z = -34546
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float Example**

In [ ]:
x = 1.0
y = 1.10
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Float - Scientific Numbers Example**

In [ ]:
x = 35E4
y = 23e5
z = -87.56e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex Example**

In [ ]:
x = 3+4j
y = 3j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

In [1]:
x = 1
y = 2.8
z = 1j
# convert from int to float
a = int(x)
# convert from float to int
b = float(y)
# convert from int to complex
c = complex(z)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1
2.8
1j
<class 'int'>
<class 'float'>
<class 'complex'>

**Random Number**

Import the random module, and display a random number between 1 and 9

In [2]:
import random
print(random.randrange(1,10))

5