# **Class 4 - Homework**

# **Python If..Else**

**If Statement**

Example

In [2]:
a = 33
b = 200
if b>a:
  print("b greater than a")

b greater than a

**Indentation**

Example

In [ ]:
a = 33
b = 200
if b>a:
print("b is greater than a") # displays an error as there is no space

**Elif**

Example

In [4]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
elif (b == a):
  print("a and b are equal")

b is greater than a

**Else**

Example

In [5]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
elif (b == a):
  print("a is equal to b")
else:
  print("b is greater than a")

b is greater than a

Example

In [6]:
a = 33
b = 200
if b > a:
  print("b is greater than a")
else:
  print("a is greater than b")

b is greater than a

**Shorthand If**

Example

In [7]:
if b > a: print("b is greater than a") # one line if statement

b is greater than a

**Shorthand If..Else**

*Ternary Operators or Conditional Expressions*

Example

In [8]:
a = 2
b = 330
print("A") if (a > b) else print("B") # One line if else statement

B

Example

In [9]:
a = 330
b = 330
print("A") if (a > b) else print("=") if (a==b) else print("B")

=

**And**

Example

In [10]:
a = 200
b = 33
c = 500
if a > b and c > a: # and is a logical operator used to combine the conditional statements
  print("Both conditions are true")

Both conditions are true

**Or**

Example

In [11]:
a = 200
b = 33
c = 500
if a > b or c > a: # or is a logical operator used to combine the conditional statements
  print("Atleast one of the conditions is true")

Atleast one of the conditions is true

**Nested If**

Example

In [14]:
# if statements inside if statements
x = 41
if (x > 10):
  print("Above 10!")
  if (x > 20):
    print("Above 20!")
  else:
    print("but not above 20!")

Above 10!
Above 20!

**Pass**

Example

In [16]:
a = 33
b = 200
if (b > a):
  pass  # avoids an error