# **Class 2 - Homework**

# **Python Collections**

**List**

Example 1

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist) # prints the items in the list

['apple', 'banana', 'cherry']

**Access Items**

Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1]) # prints the second item in the list

banana

**Negative Indexing**

Example

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1]) # prints the last item in the list

cherry

**Range of Indexes**

Example

In [ ]:
thislist = ["apple", "banana","cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) # returns third, fourth and fifth element

['cherry', 'orange', 'kiwi']

Example

In [ ]:
thislist =  ["apple", "banana","cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) # returns item from first to orange

['apple', 'banana', 'cherry', 'orange']

Example

In [ ]:
thislist = ["apple", "banana","cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:]) # creturns the items from cherry to end

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Range of Negative Indexes**

Example

In [ ]:
thislist = ["apple", "banana","cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]) # returns items from -4 to -1

['orange', 'kiwi', 'melon']

**Change Item Value**

Example

In [8]:
thislist = ["apple", "banana","cherry", "orange", "kiwi", "melon", "mango"]
thislist[1] = "blackcurrent" # changes the second element
print(thislist)

['apple', 'blackcurrent', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

**Loop through a List**

Example

In [9]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x) # print all items in the list

apple
banana
cherry

**Check if Item exists or not**

Example

In [11]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist: # check if apple is present in the list
  print("Yes, Apple is afruit in this list")

Yes, Apple is afruit in this list

**List Length**

Example

In [12]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist)) # prints the number of items in the list

3

**Add Item**

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange") # add an item to the end of the list
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Item**

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"orange") # insert an item at the second position
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Remove Item**

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple") # removes the specified item
print(thislist)

['banana', 'cherry']

**Pop**

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() # removes the specified index or the lat item if index is not specified
print(thislist)

['apple', 'banana']

**Del**

Example 1

In [17]:
thislist = ["apple", "banana", "cherry"]
del thislist[0] # removes the specified index
print(thislist)

['banana', 'cherry']

Example 2

In [18]:
thislist = ["apple", "banana", "cherry"]
del thislist # delete the list completely

**Clear**

Example

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() # empties the list
print(thislist)

[]

**Copy a List**

Example 1

In [20]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # make a copy of the list with the copy() method
print(mylist)

['apple', 'banana', 'cherry']

Example 2

In [22]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist) # make a copy of list with list() method
print(mylist)

['apple', 'banana', 'cherry']

**Join Two Lists**

Example 1

In [23]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]
list3 = list1 + list2 # join 2 lists by appending all items from list2 to list1 using + operator
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3]

Example 2

In [26]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x) 3 append list2 to list1
  print(list1)

['a', 'b', 'c', 'd', 1]
['a', 'b', 'c', 'd', 1, 2]
['a', 'b', 'c', 'd', 1, 2, 3]

Example 3

In [27]:
list1 = ["a", "b", "c", "d"]
list2 = [1, 2, 3]
list1.extend(list2) # using extend add list2 to end of list1
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3]

**List Constructor**

Example

In [28]:
thislist = (("apple", "banana", "cherry")) # use of doulbe round brackets
print(thislist)

('apple', 'banana', 'cherry')