# **Class 2 - 27/10/2022**

# **Python Casting**

Example 1

In [1]:
x = int(1)  # x = 1
y = int(2.8) # y = 2
z = int("3") # z = 3

print(x)
print(y)
print(z)

1
2
3

Example 2

In [2]:
x = float(1) # x = 1.0
y = float(2.8) # y = 2.8
z = float("3") # z = 3.0
w = float("4.2") # w = 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Example 3

In [3]:
x  = str("s1") # x =s1
y = str("3") # y = 3
z = str("2.0") # z = 2.0

print(x)
print(y)
print(z)

s1
3
2.0

# **Python Strings**

In [4]:
print("Hello")
print('Hello')

Hello
Hello

# **Assign string to a variable**

In [5]:
a = "Hello"
print(a)

Hello

# **Multiline Strings**

Example 1

In [6]:
a = """ My name is Anusha Kostka. I am doing
a certificate course in Data Science at 
Keltron for 2 months. """
print(a)

 My name is Anusha Kostka. I am doing
a certificate course in Data Science at
Keltron for 2 months.

Example 2

In [7]:
a = '''My name is Anusha Kostka. I am doing
a certificate course in Data Science at 
Keltron for 2 months.'''
print(a)

My name is Anusha Kostka. I am doing
a certificate course in Data Science at
Keltron for 2 months.

# **Strings are Arrays**

Example 1

In [8]:
a = "Hello, World!"
print(a[1])

e

# **Slicing**

Example 2

In [9]:
a = "Hello, World!"
print(a[2:5])

llo

Example 3 - Negative Indexing

In [10]:
a = "Hello, World!"
print(a[-5:-2])

orl

# **String Length**

In [11]:
a = "Hello, World!"
print(len(a))

13

# **String Methods**

Example 1 - Strip

In [12]:
a = " Hello, World! "
print(a.strip()) # removes the whitespaces from beginning or the end

Hello, World!

Example 2 - Lowercase

In [13]:
a = "Hello, World!"
print(a.lower()) # returns string in lowercase

hello, world!

Example 3 - Uppercase

In [14]:
a = "Hello, World!"
print(a.upper()) # returns string in uppercase

HELLO, WORLD!

Example 4 - Replace

In [15]:
a = "Hello, World!"
print(a.replace("H", "J")) # replaces a string with another string

Jello, World!

Example 5 - Split

In [16]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', 'World']

['Hello', ' World!']

# **Check String**

Example 1

In [17]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt # ain is present in the text
print(x) # returns true

True

Example 2

In [18]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt # ain is not present in the text
print(x) # returns false

False

# **String Concatenation**

Example 1

In [31]:
a = "Hello"
b = "World"
c = a + b # Merging variable a and variable b to get variable c using + operator
print(c)

HelloWorld

Example 2

In [32]:
a = "Hello"
b = "World!"
c = a + " " + b # Adding spaces between variable a and variable b
print(c)

Hello World!

# **String Format**

Example 1

In [21]:
age = 36
txt = "My name is John and My age is " + age
print(txt) # displays error

TypeError: ignored

Example 2

In [22]:
age = 36
txt = "My name is John and My age is {}"
print(txt.format(age))

My name is John and My age is 36

Example 3

In [23]:
quantity = 3
itemno = 567
price = 49.95
order = "I want {} pieces of item {} for {} dollars"
print(order.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars

Example 4

In [24]:
quantity = 3
itemno = 567
price = 49.95
order = "I want to pay {2} dollars for {0} pieces of items {1}  " # use index numbers
print(order.format(quantity,itemno,price))

I want to pay 49.95 dollars for 3 pieces of items 567

# **Escape Character**

Example 1

In [25]:
txt = "We are the so-called" Vikings "from the North" # displays error
print(txt)

SyntaxError: ignored

Example 2

In [26]:
txt = "We are the so-called \" Vikings \" from the North"
print(txt)

We are the so-called " Vikings " from the North

# **Python Booleans**

Example 1

In [27]:
print(10>9)

True

In [28]:
print(10==9)

False

In [29]:
print(10<9)

False

Example 2

In [30]:
#Print a message whether a condition is True or False
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("a is greater than b")

a is greater than b