# **Built-in Functions**

Examples

In [1]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [2]:
my_list = [1, 2 ,3, 'a','f']
len(my_list) # returns the number of elements in the list

5

In [3]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [5]:
my_list = [1, 2, 3, 4, 5]
max(my_list) # returns the maximum element in the list

5

In [6]:
my_list = [1, 2, 3, 4, 5]
min(my_list) # returns the minimum element in the list

1

In [7]:
my_list = [1, 2, 3, 4, 5]
sum(my_list) # returns sum of elemnets in the list

15

**Type()**

In [9]:
x = 4.6
print("Type of x is ", type(x))

x = 4
print("Type of x is ", type(x))

x = "string"
print("Type of x is ", type(x))

Type of x is  <class 'float'>
Type of x is  <class 'int'>
Type of x is  <class 'str'>

**Sorted List**

Example

In [12]:
my_list = [1, 4, -3, -4, 0, 5]
print(sorted(my_list)) # arranges the list in specified order

[-4, -3, 0, 1, 4, 5]

In [45]:
my_tuple = (1, 4, -3, -4, 0, 5)
print(sorted(my_tuple)) # arranges the tuple in specified order

[-4, -3, 0, 1, 4, 5]

**reversed()**

Example

In [14]:
my_list = [1, 4, -3, -4, 0, 5]
reversed_list = list(reversed(my_list))
print(reversed_list) # returns the list in reversed order

[5, 0, -4, -3, 4, 1]

In [17]:
my_tuple = (1, 4, -3, -4, 0, 5)
reversed_tuple = tuple(reversed(my_tuple))
print(reversed_tuple) # returns the tuple in reversed order

(5, 0, -4, -3, 4, 1)

**Type Conversion Functions**
 - returns type of variable or object

Example

In [18]:
int('123')

123

In [19]:
float(123)

123.0

In [21]:
str(123.45)

'123.45'

In [22]:
bool(1)

True

**Calling Functions from Built-in Modules**

**Random Number Functions**

Example

In [44]:
import random

#help(random)

print(random.random())

0.10345008343002171

In [25]:
print(random.randint(5,10))
print(random.randint(5, 10))
print(random.randint(5, 10))
print(random.randint(5, 10))

9
9
10
6

In [27]:
for i in range(6):
  print(random.randint(5, 100))

52
25
64
44
17
6

**Math Functions**

Example

In [28]:
import math

print(math.floor(1.4))
print(math.ceil(1.4))
print(math.isnan(2))
print(math.sqrt(5))

1
2
False
2.23606797749979

# **Excercise**

Q1. Explore different built in functions available on string data structure for
- determining whether a string is alphanumeric or not - finding out index of a substring - finding out whether string is identifier or not

**Solution**

In [29]:
string = " This is my string"

print(string.isalnum())

False

In [30]:
print(string.find("is"))

3

In [31]:
print(string.isidentifier())

False

In [32]:
string = "if"
print(string.isidentifier())

True

**Q2. Explore following Python built in functions.**

**Solution**

**abs**
- Return the absolute value of a number

In [35]:
x = abs(-7.25)
print(x)

7.25

In [36]:
x = abs(3+5j)
print(x)

5.830951894845301

**dir**
 - The dir() function returns all properties and methods of the specified object, without the values.

In [37]:
class Person:
  Name = "John"
  age = 36
  country = "India"
print(dir(Person))

['Name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country']

**eval** 

- The eval() function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.

In [38]:
x = 'print(55)'
eval(x)

55

**format**
- The format() function formats a specified value into a specified format.

In [39]:
x = format(0.5, '%')
print(x)

50.000000%

**range()**
- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [40]:
for x in range(3,6):
  print(x)

3
4
5

**round()**
- The round() function returns a floating point number that is a rounded version of the specified number, with the specified number of decimals.

In [42]:
x = round(5.6543245, 2)
print(x)

5.65

**Q3. Explore the functions in built-in module calendar.**

**Solution**

In [43]:
import calendar

#TextCalendar

#create a calendar starting with Sunday as first day 
txtCalendar = calendar.TextCalendar(calendar.SUNDAY)

#Prepare calendar for June 2019
calendar_string = txtCalendar.formatmonth(2019, 6)

print("Calendar for June 2019")
print(calendar_string)

#HTML Calendar 
#create a calendar starting with Thursday as first day 
htmlCalendar = calendar.HTMLCalendar(calendar.THURSDAY)

#Prepare calendar for June 2019
calendar_string = htmlCalendar.formatmonth(2019, 6)

print("Calendar for June 2019")
print(calendar_string)

#Loops over the days of a month by using itermonthday (year,month), it will fetch the total 
#number of days for that month.
print("Days in January 1")
for i in txtCalendar.itermonthdays(2019, 1):
    print(i)
    
#fetch the data from the local system, like months or weekdays, etc    
print("Months list")
for month in calendar.month_name:
    print(month)

Calendar for June 2019
     June 2019
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

Calendar for June 2019
<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">June 2019</th></tr>
<tr><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="sat">1</td><td class="sun">2</td><td class="mon">3</td><td class="tue">4</td><td class="wed">5</td></tr>
<tr><td class="thu">6</td><td class="fri">7</td><td class="sat">8</td><td class="sun">9</td><td class="mon">10</td><td class="tue">11</td><td class="wed">12</td></tr>
<tr><td class="thu">13</td><td class="fri">14</td><td class="sat">15</td><td class="sun">16</td><td class="mon">17</td><td class="tue">18</td><td class="wed">19</td></tr>
<tr><td class="thu">20</td><td class="fri">21</td><td class="sat">22</td><td class="sun">23</td><td class="mon">24</td><td class="tue">25</td><td class="wed">26</td></tr>
<tr><td class="thu">27</td><td class="fri">28</td><td class="sat">29</td><td class="sun">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

Days in January 1
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0
Months list

January
February
March
April
May
June
July
August
September
October
November
December