# **Parameters and Arguments**

Example

In [1]:
def print_lines(number):    # number is the parameter
  for i in range(number):
    print("Line", i , "")


number = 5
print_lines(number)     # number is the argument

Line 0
Line 1
Line 2
Line 3
Line 4

In [3]:
def print_stars(times):  # times is the parameter
  for i in range(times):
    print("*" * i)


times = 5
print_stars(times)  # times is the argument

*
**
***
****

In [4]:
def print_characters(character, times):
  for i in range(times):
    print(character * i)


print_characters("#", 5)

#
##
###
####

**Default Parameters**

Example

In [8]:
def multiply(number, times = 2):
  return number * times


multiply(5)

10

In [7]:
multiply(5,4)

20

In [10]:
def add_and_multiply(number1, number2, number3, times = 2):
  return (number1 + number2 + number3) * times

add_and_multiply(1,2,3)

12

In [11]:
add_and_multiply(1,2,3,5)

30

**Argument Modification**

Example

In [20]:
def add(x):
  return x + 1

a = 5
print("Return value before call", a)
b = add(a)
print("Return value after call", b)

Return value before call 5
Return value after call 6

In [16]:
def to_lower(string):
    return string.lower()

In [19]:
string = "TeSt"
print("string before function call  : ", string)
str1 = to_lower(string)
print("string after function call  : ", str1)

string before function call  :  TeSt
string after function call  :  test

In [23]:
def add_element(list1):
  list1.append(5)

list1 = [1, 2, 3, 4, 5]
print("List before call", list1)
add_element(list1)
print("List after call", list1)

List before call [1, 2, 3, 4, 5]
List after call [1, 2, 3, 4, 5, 5]

**Unknown number of parameters**

Example

In [28]:
def product(*times):
  prod = 1
  for i in times:
    prod = prod * i
  return prod

product(2, 3)

6

In [29]:
product(2, 3, 4)

24

In [30]:
def min_max_list(list1):
  min1 = min(list1)
  max1 = max(list1)
  return min1, max1


list1 = [23, 45, 1, 56, 40]
minimum, maximum = min_max_list(list1)
print("Minimum", minimum)
print("Maximum", maximum)

Minimum 1
Maximum 56